bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/MementoMori.WebUI/appsettings.dev.json
/MementoMori.WebUI/Master/
/MementoMori.BotServer/Master/
/MementoMori.BotServer/appsettings*
/Master/
.idea/
/MementoMori.WebUI/account.xml
/MementoMori.WebUI/battlePowerDebug/
.vs
runtimeinfo.json
usersyncdata.json
*.csproj.user
*.DotSettings.user
appsettings.user.json
BattleLogs/
MementoMori.AssetDownloader/Assets
MementoMori.AssetDownloader/Assets*
MementoMori.AssetDownloader/apk*
MementoMori.AssetDownloader/data/
publish-linux-x64
publish-win-x64
publish-android
*.db
*.keystore
*.log