@using System.Collections.ObjectModel
@using System.Reactive.Concurrency
@using System.Reactive.Linq
@using DynamicData.Binding
<MudSimpleTable Elevation="0" Dense="true">
    <tbody style="max-height: 350px; overflow: auto" class="d-flex flex-column-reverse">
    @foreach (var msg in _messageList)
    {
        <tr>
            <td>@msg</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>

@code {

    [Parameter]
    public ObservableCollection<string> Messages { get; set; }

    private List<string> _messageList = new();

    protected override void OnInitialized()
    {
        Messages.ObserveCollectionChanges().Throttle(TimeSpan.FromMilliseconds(50)).Subscribe(set =>
        {
            try
            {
                _messageList = Messages.ToList();
            }
            catch
            {
                return;
            }
            InvokeAsync(StateHasChanged);
        });
    }

}
