.character-icon {
    width: 128px;
    height: 128px;
    position: relative;
    transform-origin: top left;
}

    .character-icon .icon-background {
        background-image: url(https://list.moonheart.dev/p/public/mmtm/AddressableLocalAssets/Atlas/plate_character.png);
        background-size: contain;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 8;
        background-origin: content-box;
        background-repeat: no-repeat;
    }

    .character-icon .icon-avatar {
        background-size: contain;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 9;
        border-width: 6px;
        border-color: transparent;
        background-origin: content-box;
        background-repeat: no-repeat;
    }

    .character-icon .icon-border {
        height: 100%;
        width: 100%;
        border-image-slice: 20;
        position: absolute;
        z-index: 10;
        border-image-width: auto;
        border-width: 5px;
        border-image-outset: 6px;
    }

    .character-icon .icon-level {
        position: absolute;
        top: 2px;
        right: 10px;
        font-size: 24px;
        z-index: 11;
        text-shadow: 0px 0px 5px black;
    }

    .character-icon .icon-deco {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 11;
        width: 32px;
        height: 32px;
    }

    .character-icon .icon-element {
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 11;
        width: 34px;
        height: 34px;
    }

    .character-icon .icon-rarity-star-container {
        position: absolute;
        bottom: -3px;
        z-index: 11;
        left: 20px;
    }

        .character-icon .icon-rarity-star-container .icon-rarity-star {
            display: inline-block;
            height: 20px;
            width: 20px;
            margin: 0 -3px 0 0
        }
