<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/MudBlazor.Markdown/MudBlazor.Markdown.min.css" rel="stylesheet" />
    <link href="_content/MementoMori.BlazorShared/css/site.css" rel="stylesheet" />
    <link href="MementoMori.BlazorShared.styles.css" rel="stylesheet" />
    <link href="MementoMori.WebUI.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
</head>
<body>
<Routes @rendermode="@RenderMode.InteractiveServer"/>
<div style="width:0; height:0">
        <svg xmlns="http://www.w3.org/2000/svg">
            <filter id="svgTintUR">
                    <feColorMatrix type="matrix" values="0.2784313725490196 0.2784313725490196 0.2784313725490196  0 0 0.00784313725490196 0.00784313725490196 0.00784313725490196  0 0 0 0 0  0 0  0 0 0 1 0" />
            </filter>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg">
            <filter id="svgTintSSR">
                <feColorMatrix type="matrix" values="0.1411764705882353 0.1411764705882353 0.1411764705882353  0 0 0.027450980392156862 0.027450980392156862 0.027450980392156862  0 0 0.2549019607843137 0.2549019607843137 0.2549019607843137  0 0  0 0 0 1 0" />
            </filter>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg">
            <filter id="svgTintSR">
                <feColorMatrix type="matrix" values="0.44313725490196076 0.44313725490196076 0.44313725490196076  0 0 0.2235294117647059 0.2235294117647059 0.2235294117647059  0 0 0.0196078431372549 0.0196078431372549 0.0196078431372549  0 0  0 0 0 1 0" />
            </filter>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg">
            <filter id="svgTintR">
                <feColorMatrix type="matrix" values="0.15294117647058825 0.15294117647058825 0.15294117647058825  0 0 0.18823529411764706 0.18823529411764706 0.18823529411764706  0 0 0.27058823529411763 0.27058823529411763 0.27058823529411763  0 0  0 0 0 1 0" />
            </filter>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg">
            <filter id="svgTintN">
                <feColorMatrix type="matrix" values="0.06666666666666667 0.06666666666666667 0.06666666666666667  0 0 0.0196078431372549 0.0196078431372549 0.0196078431372549  0 0 0.01568627450980392 0.01568627450980392 0.01568627450980392  0 0  0 0 0 1 0"/>
            </filter>
        </svg>
    </div>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/MudBlazor.Markdown/MudBlazor.Markdown.min.js"></script>
    <script>
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
            URL.revokeObjectURL(url);
        }
        window.showBattleLog = (log_content) => {
            const iframe = document.querySelector('#log_viewer');
            iframe.contentWindow.postMessage(new File([log_content], {
                type: 'application/json'
            }), 'https://mentemori.icu/');
        }
    </script>
</body>
</html>
