@using System.Collections.ObjectModel
@using DynamicData.Binding
<MudSimpleTable Elevation="0" Dense="true">
    <tbody style="height: 400px; overflow: auto" class="d-flex flex-column-reverse">
    @foreach (var msg in Messages)
    {
        <tr>
            <td>@msg</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>

@code {

    [Parameter]
    public ObservableCollection<string> Messages { get; set; }

    protected override void OnInitialized()
    {
        Messages.ToObservableChangeSet().Subscribe(set => InvokeAsync(StateHasChanged));
    }

}